* {
   color:white;
   list-style-type: none;
   }

body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    font-size: larger;
    padding: 20px;
    margin: 35px;

}


header nav ul li {
    float: right;
    justify-content: ;
}

img {
    max-width: 15%;
    height:auto;
    border-radius: 25%;
}